html, body {
	font-size: 20px;
	font-family: Titillium Web; sans-serif;
	background-color: #F0F5F9;
	border: 1px solid red;
	
	
}

.main-container {

	

}

.contain {

	width: 1200px;
	margin: 0 auto;
}



/*Navigation Area*/

nav {
	
	
	background-color: black;
	
}

.nav1 {

	width: 50%;
	padding-bottom: 27px;
	float: left;
	background-color: green;



}

.logo {

	width: 150px;
	height: 33px;
	background-color: pink;
	margin-top: 20px;
	float: left;

}

.category, .new-selection{

	background-color: white;
	width: 100px;
	height: 25px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;

}



.user {

	width: 50%;
	padding-top: 80px;
	float: left;
	background-color: blue;
	/*margin-left: 24px;*/



}

.leftside, .rightside {

	width: 50%;
	padding-top: 60px;
	background-color: red;
	float: left;
	margin-top: 20px;
}

.rightside {

	background-color: pink;
}


