html, body {


font-family: Titillium Web;
/*background-color: #F1F1F1;*/


}

.main-container { 
	width: 100%;
	height: 2000px
 }

/*Navigation Area*/

.navigation {
	width: 100%;
	height: 80px;
	margin: 0 auto;
	


}

.nav1 w3-half {
	width: 49%
	margin: 0 auto;
	float: left;
	background: green;


}

.nav2 w3-half {
	width: 49%
	margin: 0 auto;
	float: left;
	background: pink;


}

/* Hero Area - Sign Up Button */

.hero {

	background-image: url("../images/primaryhero.png");
	width: 100%;
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
	float: left;


	
}

.hero1 w3-half {

	width: 49%;
	margin: 0;


}

/*Features Area*/

.features {
	width: 100%;
	padding-bottom: 450px;
	/*height: 500px;*/
	margin: 0 auto;
	float: left;
	background: #4A90E2; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#80C3F3, #4A90E2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#80C3F3, #4A90E2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#80C3F3, #4A90E2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#80C3F3, #4A90E2); /* Standard syntax (must be last) */

	
	
}


.features1, .features2, .features3 w3-third {

	width: 100%
	/*padding-bottom: 500px;*/
	margin: 0;
	float:left;


}



/*Content Area*/

.content {

	width: 100%;
	height: 737px;
	background-image: url("../images/womenofcolor-hero3.png");
	background-size: cover;
	background-position: center;
	float: left;


}

.content1 w3-half {

	width: 50%
	height: 737px;
	float: left;



}


.content2 {

	width: 100%;
	height: 737px;
	background-image: url("../images/access-photo.png");
	background-size: cover;
	background-position: center;
	float: left;


}

.content3 w3-half {


	width: 50%
	height: 737px;
	float: right;


	
}

/*Who Loves Kerning Area*/

.promotional {


}


.promotional1 w3-half {


}



/*Testimonials*/

.testimonials {
	width: 100%
	float: left;



}


.testimonials1 {



}

/*Sign Up Box*/

.signup {

	width: 100%
	float: left;


}

.signup1 w3-half {


}


.signup2 {


}

.signup3 w3-half {

	
}
/*Priciing Area*/

.price_btn a:link {


	 background-color: #EC8200;
    color: white;
    width: 127px;
    height: 127px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;




}

.price_btn a:visited {


	 background-color: #EC8200;
    color: white;
    width: 127px;
    height: 127px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;




}


.price_btn a:hover {

	 background-color: #EC8200;
    color: white;
    width: 127px;
    height: 127px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;




}


.price_btn a:active {


	 background-color: #EC8200;
    color: white;
    width: 127px;
    height: 127px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;

}
.pricing {
	width: 100%;
	height: 520px;
	background-image: linear-gradient(-180deg, #E9F3F9 0%, #CFE3F1 100%);
	float: left;


}

.pricing1 w3-third {
	
	width: 33.3%
	height: 175px;
	float: left;

	
}



.pricing2 w3-third {
	float: left;
	height: 175px;
	width: 33.3%

	
}


.pricing3 w3-third {

	float: left;
	width: 33.3%
	height: 175px;
	
}

/*Footer Area*/



